/*Custom CSS for the apps*/

html {
  /*use a different google font*/
  font-family:'Manrope';
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/*weather icons*/
.icon {
  color: #e39b25;
  font-size: 30px;
}

.title, .title_prevision{
  color: black;
  font-size: x-large;
}

.title:hover {
  cursor: pointer;
  color: gray;
  text-decoration: underline;
}

.card-content {
  color: gray;
}

/*background animation*/
.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #e0f7fa 50%, #d0dffa 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:6s;
}

.bg3 {
  animation-duration:8s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}