body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.wi {
  color: orangered;
  font-size: 30px;
}

.card-title > a {
  color: white;
}

.card-title > a:hover {
  cursor: pointer;
  color: orange;
  text-decoration: underline;
}

.supprimer