html {
  font-family:'Manrope';
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.icon {
  color: #e39b25;
  font-size: 30px;
}

.title, .title_prevision{
  color: black;
  font-size: x-large;
}

.title:hover {
  cursor: pointer;
  color: gray;
  text-decoration: underline;
}

.card-content {
  color: gray;
}