<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<div class="row">
		<div ng-repeat="ville in villes">
		    <div class="col s12 m3">
				<div class="card blue-grey darken-1">
					<div class="card-content white-text">
						<div class="row">
						<div class="card-title">
							<a href="#!previsions/?id={{ville.id}}">{{ville.name}}</a>
						</div>
						<a ng-click="delete($index)" class="btn-floating waves-effect waves-light red">
							<i class="material-icons">
								delete
							</i>
						</a>
						</div>
						<i class="wi {{ville.icon}}"></i>
						<p>Temps : {{ville.temps}}</p>
						<p>Température : {{ville.temp}}°C</p>
						<p>Humidité : {{ville.humid}} %</p>
						<p>Vent : {{ville.vent}}, {{ville.orient}}°</p>
						
					</div>
				</div>
	    	</div>
	    </div>
	</div>
</body>
</html>