<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<h2>Prévisions 7 jours pour {{ville}}</h2>

    <div class="row">
		<div ng-repeat="jour in previsions">
		    <div class="col s12 m3">
				<div class="card cyan lighten-5">
					<div class="card-content">
						<span class="title_prevision">{{jour.day}} {{jour.date}}<i class="wi {{jour.icon}} icon right"></i></span>
						
						<p>Min : {{jour.tempmin}}°C</p>
						<p>Max : {{jour.tempmax}}°C</p>
					</div>
				</div>
	    	</div>
	    </div>
	</div>


</body>
</html>
